element {
    --neon-color: #219afe;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 1em;

}

.button:hover .up {
    left: 20%;
}

.button:hover .down {
    right: 20%;
}

.reflector {
    margin-top: 30px;
    width: 150px;
    height: 20px;

    transform: rotateX(40deg) scale(1, 0.35);
    filter: blur(9px);
    opacity: 0;
    transition: 0.5 width ease-out;
}

.reflector-hover {
    margin-top: 30px;
    width: 250px;
    height: 20px;
    transform: rotateX(88deg) scale(1, 0.35);
    filter: blur(20px);
    opacity: .5;
    transition: 0.3 ease-out;
}